$color-primary:#FEFEFE;
$color-secondary:#3B3737;
$color-accent:#C15B5B;
$logo-color-black:#1D0C0C;
$logo-color-red:#FC4D4D;
$font-family:'montserrat',sans-serif;
$box-shadow:  rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;